In [1]:
## Introduction To Tuples:
# Tuples are ordered collection of items that are immutable. They are similar to lists, but their immutability makes them different.

## Creating a Tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))

tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [ ]:
numbers = tuple([1,2,3,4,5,6])
numbers
# A List can be converted to a tuple

(1, 2, 3, 4, 5, 6)

In [4]:
## Vice versa is also true

numbers2 = list((1,2,3,4,5,6))
numbers2

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple = (1,"Aryan",3.14,True)
print(mixed_tuple)

(1, 'Aryan', 3.14, True)

In [8]:
## accessing tuple elements
print(numbers[0])
print(numbers[-1])

1
6

In [9]:
numbers[0:4]

(1, 2, 3, 4)

In [10]:
numbers[::1]

(1, 2, 3, 4, 5, 6)

In [11]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [12]:
## Tuple operations

concatenate_tuple = numbers + mixed_tuple
print(concatenate_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Aryan', 3.14, True)

In [ ]:
mixed_tuple * 3 #Entire Tuple gets repeated 3 times

(1, 'Aryan', 3.14, True, 1, 'Aryan', 3.14, True, 1, 'Aryan', 3.14, True)

In [ ]:
## Immutable nature of tuples

# Tuples are immutable, meaning that their elements cannot be changed once assigned

lst = [1,2,3,4,5]
print(lst)
lst[1] = "Aryan" # Lists are mutable
print(lst)


numbers = (1,2,3,4,5,6)
numbers[1] = "Krish" # Not possible
print(numbers)

[1, 2, 3, 4, 5]
[1, 'Aryan', 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [17]:
## Tuple Methods
print(numbers.count(1))

1

In [ ]:
print(numbers.index(3)) # Finding the first index of 3 in the numbers tuple

2

In [ ]:
# Packing and unpacking tuple

#Packing a tuple
packed_tuple =  1,"Hello",3.14
print(packed_tuple) #Three separate rows get packed into a single tuple

(1, 'Hello', 3.14)

In [20]:
## Unpacking a tuple
a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [22]:
## Unpacking with *
numbers = (1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

print(type(middle))

1
[2, 3, 4, 5]
6
<class 'list'>

In [ ]:
## Nested Lists

lst = [[1,2,3,4,5],[6,7,8,9,10],[1,"Hello",3.14,"C"]]
print(lst[0])
print(lst[0][3])
print(lst[0][0:3])

[1, 2, 3, 4, 5]
4
[1, 2, 3]

In [26]:
## Nested Tuples
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
# access the nested elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [27]:
# Iterating over a nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")

1 2 3 a b c True False